.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    margin-top:50px;
    width:100%
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

.slider-container {
  position:relative;
}
.sliders.ng-enter, .sliders.ng-leave {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;

  position:absolute;
  top:0;
  left:0;
  right:0;
  height:600px;
}

.sliders.ng-enter {
  z-index:100;
  top:600px;
  opacity:0;
}
.sliders.ng-enter.ng-enter-active {
  top:0;
  opacity:1;
}

.sliders.ng-leave {
  z-index:101;
  top:0;
  opacity:1;
}
.sliders.ng-leave.ng-leave-active {
  top:-600px;
  opacity:0;
}

