.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    margin-top:50px;
    width:100%
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

.slide{
    display:none;
    
}

.slide.visible{
    display: block;
    margin-top: 0;    
    transition: margin-top 2s;
    -webkit-transition: margin-top 2s;;
    
}

.slide.hidden{
    display: block;
    margin-top: 1000px;

    
}

.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  
  margin-left: 100%;
}

.ng-enter-active {
  margin-left: 0;
}

.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  
  margin-left: 0;
}

.ng-leave-active {
  margin-left: 100%;
}

.ng-move {
  -webkit-transition: 1s;
  transition: 1s;
  
  background: gold;
}

.ng-move-active {
  background: #fff;
}