//JQuery
script(src="/lib/jquery/jquery.js")
script(src="/lib/jquery-ui/ui/jquery-ui.custom.js")

//Bootstrap
script(type='text/javascript', src='/lib/bootstrap-assets/js/bootstrap.js')

//AngularJS
script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-route/angular-route.js')
script(type='text/javascript', src='/lib/angular-animate/angular-animate.js')
script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')	
script(type='text/javascript', src='/lib/angular-sanitize/angular-sanitize.js')	
script(type='text/javascript', src='/lib/angular-ui-router/release/angular-ui-router.js')
script(type='text/javascript', src='/lib/angular-ui-sortable/src/sortable.js')
//- script(type='text/javascript', src='/lib/ng-clip/src/ngClip.js')

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/route/route.js')
//- unfocus when enter keypress - doesn't work
script(type='text/javascript', src='/lib/angular-ui-utils/modules/event/event.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/keypress/keypress.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/showhide/showhide.js')

//Application Init
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/config.js')
script(type='text/javascript', src='/js/directives.js')
script(type='text/javascript', src='/js/filters.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/cms.js')
script(type='text/javascript', src='/js/services/project.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/left-pane.js')
script(type='text/javascript', src='/js/controllers/steps/1.js')
script(type='text/javascript', src='/js/controllers/steps/2.js')
script(type='text/javascript', src='/js/controllers/steps/3.js')
script(type='text/javascript', src='/js/controllers/steps/4.js')
script(type='text/javascript', src='/js/controllers/steps/5.js')
script(type='text/javascript', src='/js/controllers/steps/6.js')
script(type='text/javascript', src='/js/controllers/articles.js')
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/init.js')

//Livereload script rendered 
script(type='text/javascript', src='http://localhost:35729/livereload.js')	
