<section class="slide slide_3" ng-controller="SlidesController">
	<h4>לפניך נושאים המשפיעים על איכות החיים בישראל בתחום הביטחון האישי.<br/>
	 סמן/סמני באיזו מידה הם משפיעים לדעתך על איכות החיים בישראל (1 - השפעה מועטה מאד; 5 - השפעה רבה מאד)
	</h4>
	<div class="container-fluid">
		<div class="row-fluid">
			<survey-question ng-repeat="question in questions" title="{{question.title}}" ng-model="question.val">{{question.body}} </survey-question>		
		</div>
		<div class="row-fluid">
			<a class="btn_link" data-ng-click="gotoNext()">Next</a>
		</div>
	</div>
</section>