<section class="slide slide_2 slide_13" ng-controller="SlidesController" ng-init="getInitEndPage()">
	<div class="content">
		<div>
			<h1 class="bigTitle">{{values['Title']}}</h1>
			<h1>{{values['SubTitle']}}</h1>
		</div>
		<img src="../../img/background/israel-logo.1.png"/>
		<div>
			<p>{{values['Question']}}</p>
			<a href='{{values["Link-Share"]}}' class="btnFb fb"></a>
			<a href='{{values["Link-like"]}}' class="btnFb like"></a>
		</div>
	</div>
	<a href='{{values["Link-url"]}}' class="endLink">{{values['Link']}}</a>
</section>