<section class="slide slide_3" ng-controller="SlidesController">
	<h4>לפניך נושאים המשפיעים על איכות החיים בישראל בתחום החינוך. <br/>
		סמן/סמני באיזו מידה הם משפיעים לדעתך על איכות החיים בישראל (1 - השפעה מועטה מאד; 5 - השפעה רבה מאד)
	</h4>	
	<div class="container-fluid">
		<div class="row-fluid">
			<survey-question ng-repeat="question in questions" title="{{question.title}}" ng-model="question.val">{{question.body}} </survey-question>		
		</div>
		<div class="row-fluid question-wrapper survey-question">
			<div class="question-title">האם קיים נושא מרכזי המשפיע על איכות החיים שלך בתחום החינוך שצריך לדעתך להוסיף לרשימה?
			</div>
			<div class="textarea-wrapper"><textarea ng-model="other"></textarea></div>
		</div>
		<div class="row-fluid btn_wrapper">
			<a class="btn_link" data-ng-click="gotoNext()">Next</a>
		</div>
	</div>
</section>