<section class="slide slide_2 slide_13" ng-controller="SlidesController" ng-init="getInitEndPage()">
	<div class="content">
		<div>
			<h1 class="bigTitle" ng-bind-html="values['Title']"></h1>
			<h1 ng-bind-html="values['SubTitle']"></h1>
		</div>
		<img src="../../img/background/madad-main-logo.png"/>
		<div>
			<p ng-bind-html="values['Question']"></p>
			<a href='{{values["Link-Share"]}}' class="btnFb fb" target="_blank"></a>
			<a href='{{values["Link-like"]}}' class="btnFb like"></a>
		</div>
	</div>
	<div class="left">
		<a href='{{values["Link-Url"]}}' class="endLink">{{values['Link']}}</a>
	</div>
	
	<div class="credit right">
		<p>{{values['Credit']}}</p>
		<a href="#" target="_blank">&nbsp;</a>
	</div>
</section>
