<section class="slide slide_3" ng-controller="SlidesController" ng-init="getInitEndPage()">
    <div class="container-fluid">
        <div class="row-fluid">
            <div ng-repeat="question in slide.fields">
                <div class="question-wrapper">
                    <div class="question-title">{{question.name}}</div>
                    <div class="question-body">{{question.label}}</div>
                    <div class="row-fluid">
                        <textarea ng-model="question.val"></textarea>
                   </div>
                </div>
            </div>   
        </div>

        <div class="row-fluid">
            <a class="btn_link" href="/#!/slide/13">Next</a>
        </div>
    </div>
</section>
