<section class="slide slide_2" data-ng-controller="IndexController">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <img src="../../img/background/israel-logo-grey3.png" class="logo_img">
            </div>
            <div class="span6">
                <div class="titleWrapper">
                    <h1 class="smallTitle">לפניך 9 תחומים המשפיעים על איכות החיים</h1>
                    <p>בתוך כל תחום מופיעים מספר נושאים המשפיעים על איכות החיים בישראל. </p>
                    <p>דרג/י באיזו מידה לדעתך כל אחד מן הנושאים משפיע על איכות החיים בישראל. </p>
                    <p>בחר / בחרי מאיזה תחום להתחיל. </p>
                </div>                
                <div class="body center-block">
                    <div class="category">
                        <button ng-repeat="button in slides.slidesOrder" type="button" class="btn category_{{button.name}}" ng-click="moveToTop($index)"></button>    
                    </div>
                </div>
            </div>
            <div class="span3"></div>
        </div>
    </div>
</section>