<div class="sidebar_content">
	<div sidebar-cell label="משפחה" icon="img/sidebar/family.png" color="red"></div>
	<div sidebar-cell label="כלכלה" icon="img/sidebar/eco.png" color="dark_green"></div>
	<div sidebar-cell label="בטחון" icon="img/sidebar/sec.png" color="pink"></div>
	<div sidebar-cell label="השכלה" icon="img/sidebar/edu.png" color="bright_turqioze"></div>
	<div sidebar-cell label="תעסוקה" icon="img/sidebar/emplo.png" color="yellow"></div>
	<div sidebar-cell label="איכות הסביבה" icon="img/sidebar/eco.png" color="bright_green"></div>
	<div sidebar-cell label="משפט" icon="img/sidebar/eco.png" color="orange"></div>
	<div sidebar-cell label="דיור" icon="img/sidebar/eco.png" color="dark_turqioze"></div>
	<div sidebar-cell label="בריאות" icon="img/sidebar/eco.png" color="purple"></div>
	<div sidebar-cell label="אחר" icon="img/sidebar/eco.png" color="blue"></div>
</div>