extends layouts/default

block content
  div.slider-container(ng-controller="GlobalController")
    section(class="sidebar",ng-class="{true: 'visible', false: ''}[showSidebar]",ng-include="'views/sidebar.html'")
    section(data-ng-view,class="{{$parent.transitionClass}} sliders")
  script(type="text/javascript").
    window.user = !{user};
