extends layouts/default

block content
  div.slider-container(ng-controller="GlobalController")
    section(data-ng-view,class="{{$parent.transitionClass}}").sliders
  script(type="text/javascript").
    window.user = !{user};
