@import url('http://fonts.googleapis.com/earlyaccess/alefhebrew.css');
@import "compass";
/* @import "compass/layout/stretching";
@import "compass/utilities";
@import "compass/css3"; */

/*************@mixin*********/
/***************************/

@mixin direction {
	background: url(../../img/buttons/continue-btt.png);
	display: block;
	background-repeat: no-repeat;
	width: 21.438em;
	height: 6.000em;
	text-indent: 9999px;
	margin-left: 6.438em;
	margin-top: 3.000em;

}

/***************************/

body{
	font-family: "Alef Hebrew";
	// "Helvetica Neue",
	// Helvetica,
	// Arial,
	// sans-serif;                        
}

.content {    
	width:100%
}

.sidebar{
	float: left;
	position: absolute;
	right: 0;
	height: 100%;
	background: white;
	z-index: 9999;
	width: 17px;
	overflow: hidden;

	@include transition-property('width');
	@include transition-timing-function('ease-in');
	@include transition-duration('200ms');	

	> .sidebar_content > .sidebar_cell {
		// min-height: 79px;
		// width: 385px;
		height: 10%;		
		right: 0px;
		position: relative;

		.sidebar_wrapper{
			position: absolute;
			right: 0px;
			@include transition-property('width');
			@include transition-duration('100ms');
			@include transition-timing-function('linear');
			width: 100%;
			height: 100%;		
			-webkit-backface-visibility: hidden;

			
			&.red{ background-color: #d2232a; }	
			&.dark_green{ background-color: #437c33; }	
			&.bright_green{ background-color: #86a63e; }
			&.yellow{ background-color: #eeb111; }	
			&.purple{ background-color: #883b64; }	
			&.blue{ background-color: #225fc4; }		
			&.orange{ background-color: #e5701f; }
			&.dark_turqioze{ background-color: #107485; }
			&.bright_turqioze{ background-color: #1d9890; }
			&.pink{ background-color: #ed2778; }

			.sidebar_icon_wrapper{		
				float: right;
				position: relative;
				.sidebar_icon{
					max-width: 85%;	
					margin-left: 7%;				
				}
			}

			.sidebar_label{	
				float: left;	
				color: white;
				font-size: 2em;
				line-height: 1.2em;
				vertical-align: middle;
				padding-top: 8px;
				text-align: center;
				width: 0px;
				display: none;
				font-size:0px;
				min-width: 60%;
				cursor: pointer;
				overflow: hidden;

				&:before{
					z-index: -1;
					position: absolute;
					content: "";
					bottom: 10px;
					left: 5px;
					width: 67%;
					top: 70%;
					max-width: 300px;
					background: rgba(0, 0, 0, 0.7);
					-webkit-box-shadow: 0 -50px 10px rgba(0,0,0, 0.7);
					-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
					box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
					-webkit-transform: rotate(-3deg);
					-moz-transform: rotate(-3deg);
					-o-transform: rotate(-3deg);
					-ms-transform: rotate(-3deg);
					transform: rotate(-3deg);
				}
			}
		}		
	}

	&.visible{
		width: 9%;
		max-width: 80px;
		overflow: visible;

		> .sidebar_content > .sidebar_cell{

			&:nth-child(n+11){
				display: none;
			}

			&:hover,&.active{		
				.sidebar_wrapper{
					width: 350%;
					right: 0px;

					.sidebar_icon_wrapper{
						display: block; 
					}
					
					.sidebar_label{
						// width: 60%;
						display: inline;
						font-size: 2em;//28px;
					}	
				}		
			}


		}
	}

	&.hidden{
		> .sidebar_content > .sidebar_cell > .sidebar_wrapper > .sidebar_icon_wrapper > img{
			display: none;
		}
	}
}

.sidebar_content{
	font-size: 14px;
	height: 100%;
}





.slide{
	position: absolute;
	height: 100%;
	width: 100%;
	overflow-x: hidden;


	h4{
		text-align: center;
		margin-bottom: 60px;
		margin-top: 30px;
		direction: rtl;
	}
	.titleWrapper p{
		font-weight: 300;
		direction: rtl;
		font-size: 2em;

	}
	.smallTitle {
		font-size: 2.5em;
		font-weight: 300;
		direction: rtl;
	}

	.bigTitle {
		font-size: 5em;
		font-weight: bold;
		margin-top: 0.5em;
	}

	a.btn_link, button.btn_link {
		@include direction;
		border: none;	
	}

}

.index .content_slide{
	height: 100%;
	overflow: hidden;
	direction: rtl;
	line-height: 2em;


	.logo_img{
		margin-left: 62px;
		margin-top: 30px;
	}

	.left_log{
		margin-left: 20px;
		margin-top: 30px;
		float: left;
	}
	h1,h1 small{
		color: #010000;
	}

	.body {
		margin-top:30px;
		margin-bottom: 0px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	p {
		font-size: 25px;
		text-align: right;
		color: #000104;
	}
	a.btn_link{
		width: 294px;
		height: 80px;
		background-repeat: no-repeat;
		background: url(../../img/buttons/begin-btt.png);
		display: block;
		text-indent: 9999px;
		margin-top:5%;
		margin-bottom: 0px;
		margin-left: auto;
		margin-right: auto;
	}
	.icons_img {
		margin: 0 auto;
		max-width: 67.20%;
		width: 100%;
		display: block;
		bottom: 0px;
		position: absolute;
		text-align: center;
		left: 16%;
		
	}
}

.slide_1{

	.logo_img {
		margin-top: 2.688em;
		margin-left: 2.500em;
	}
	.title{
		font-size: 55px;

		color: white;
			font-family: "Alef Hebrew";
	 
	}
	.center-block{
		text-align: right;
		width: 100%;
		margin: 0 auto;
		max-width: 68.438em;
	}
	.title_ask {
		float: right;
		margin-top: 1.375em;
		width: 11.250em;
		text-align: left;
	}
	.btn-group{
		direction : rtl;
	}
	.btn-group button{
		width: 10.250em;
		height: 4.000em;
		margin-left: 0.813em;	
		margin-right: 0.813em;
		border-radius: 0.313em;
		border-bottom-left-radius: 0.313em !important;

		color: #4c4c4c;
		font-family: alef;
		/*font-size: 25px;*/
	}
	.kind , .status{
		margin-top:0.438em;
	}
	.btn_link_slide_1 {
		@include direction;	
		margin-top: 3em;
	}
	.ng-binding {
		background: red;
		color: black;
	}
}

.slide_2 {
	padding-top: 80px;

	.logo_img{
		margin-top: 2.688em;
		margin-left: 2.438em;
	}
	.title{
		font-size: 55px;
		font-family: alef;
		color: white;
	}
	.center-block {
		width: 100%;
		margin: 0 auto;
		/*max-width: 31.125em;*/
		max-width: 50em;
		margin-top: 3.875em;
	}
	
	.category button{
		width: 13.313em;
		height: 9.250em;
		box-shadow:3px 3px 15px #3b3237;
		margin-right: 1.688em;
		float: right;

		/*margin-top: 2.375em;*/

		margin-bottom: 1.688em;


	}
			button:nth-child(-n+3) {
			margin-top: 0px;
		}

	   .category_sec {
	   	background-image: url(../../img/category/sec-wide.png);
	   }
	   .category_eco{
	   	background-image: url(../../img/category/eco-wide.png);
	   }
	   .category_family {
	   	background-image: url(../../img/category/fami-wide.png);
	   }
	   .category_envi {
	   	background-image: url(../../img/category/envi-wide.png);
	   }
	   .category_emplo {
	   	background-image: url(../../img/category/emplo-wide.png);
	   }
	   .category_edu {
	   	background-image: url(../../img/category/edu-wide.png);
	   }
	   .category_health {
	   	background-image: url(../../img/category/health-wide.png);
	   }
	   .category_dior {
	   	background-image: url(../../img/category/dior-wide.png);
	   }
	    .category_law {
	   	background-image: url(../../img/category/law-wide.png);
	   }
	    .category_civ {
	   	background-image: url(../../img/category/civ-wide.png);
	   }
	   .category_other{
	   	display: none;
	   }


	   	button[class*="category_"] {
		background-position: center;
		border: none;
	}
	.btn_link_slide_2 {
		@include direction;	
	}

}

.btn_grey{
	background: url(../../img/buttons/grey-btt.png);
	box-shadow:2px 2px 10px #1f5360;
	@include transition-property('background');
	@include transition-timing-function('ease-in');
	@include transition-duration('550ms');

}
.btn_grey:hover{
	background:#AFA5A5;
}
.btn_grey.active {
	background: url(../../img/buttons/green-btt.png);
	border: solid 1px #1f4f5b; 
	box-shadow:2px 2px 10px #488192;
	color: black !important;

}

survey-question,.survey-question{
	width: 60%;
	float: right;
	margin-right: 25%;
}


.question-wrapper{
	text-align: right;
	margin-bottom: 10px;
	border-bottom: 1px solid #c6c6c6;
	line-height: 1.3;
	padding-bottom: 2%;
	height: 85px;


	.question-title{		
		font-weight: 700;
		font-size: 20px;
	}
	.question-body{
		font-size: 16px;
		width: 60%;
		text-align: right;
		float: right;
	}

	.inputs-wrapper{
		float: right;
		text-align: right;
		display:block;
		width: 100%;
		.row-fluid{
			float: right;
		}
	}

	.ui-slider{
		float: left;
		width: 30%;
	}

	// $slider-handle: url("../../img/assets/slider-handle.png");

	.slider {
		margin-left: -20px;
	    position: relative;
	    width: 210px;
	    display: block;
	    background-image: url("http://delfinamassun.files.wordpress.com/2011/09/light-grey-square.jpg");

	    background-repeat: no-repeat;
	    
	    @for $i from 0 through 100 {
	        &.value-#{$i}{
	            background-position: #{$i/7}em;
	            border: 0px solid rgba(0,0,0,0);
	            box-shadow: 0 1px 0 rgba(255, 255, 255, 0), inset #{$i/7}em 0 0 green
	        }
	    }
	    
	    height: 8px;
	    box-shadow: 0 1px 0px rgba(255,255,255,0),
	        inset 0 0 4px rgba(0,0,0,0);
	    
	    div.ui-slider-range {
	        display: block;
	        height: 6px;
	        background-color: blue;
	    }
	    
	    a.ui-slider-handle {
	        position: absolute;
	        top: -5px;
	        margin-left: -9px;
	        z-index: 2;
	        height: 16px;
	        width: 16px;
	        background-color: #d4d4d4;
	        @include background-size(100% 100%);
	        box-shadow: 0 1px 0 rgba(255, 255, 255, 0);	        
	        outline: none;
	        .slider_tooltip{

				background: white;
				border: 1px solid rgba(0, 0, 0, 0.31);
				position: absolute;
				top: -35px;
				opacity: 0;
				margin-bottom: 20px;
				padding: 4px;
				border-radius: 4px;
				left: -9px;

				@include transition-property('opacity');
				@include transition-duration('100ms');

				&[value="0"]{
					width: 105px;
					left: -50px;
				}
				&[value="25"]{
					width: 74px;
					left: -35px;
				}
				&[value="50"]{
					width: 30px;
				}
				&[value="75"]{
					width: 55px;
					left: -23px;
				}
				&[value="100"]{
					width: 88px;
					left: -40px;
				}
			}				
	    }

	    &:hover{
	    	a.ui-slider-handle {
	    		.slider_tooltip{
	    			opacity: 100;
	    		}
	    	}
	    }
	    
	    a.ui-slider-handle:after {
	            
	    }
	}
}

.survey-question{
	&:first-child{
		margin-top: 5%;
	}
	.question-wrapper{
		height: auto;
		float: right;
		text-align: right;
		width: 100%;
		.question-title{		
			font-weight: 700;
			font-size: 20px;
			text-align: right;
		}
		.question-body{
			font-size: 16px;
			width: 100%;
			text-align: right;
			float: right;
		}
		.inputs-wrapper{
			margin-top: 2%;
			float: right;
			text-align: right;
			display:block;
			width: 100%;
			.row-fluid{
				float: right;
				div {
					float: right;
				}
			}
		}

		.textarea-wrapper{
			margin-top: 3%;
			textarea{
				text-align: right;
			}
		}
	}
}
.slide_13 {
 direction: rtl;
  .content {
     width: 62.250em;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     margin-top: 5.625em;
     h1 {
     	 font-size: 3.438em;
     	 color: white;
     	 font-weight: initial;
     }
     .bigTitle {
       font-size: 4.063em;
     	 font-weight: bold;
     }
     p {
       font-size: 1.563em;
       color: white;
       margin-top: 5em;
     }
     img {
       margin-top: 2.750em;
     }
    .btnFb  {
       display: list-item;
       list-style-type: none;
       margin-left: auto;
       margin-right: auto;
       border: 0;
       background-color: transparent;
       background-repeat:no-repeat;
     }
     .fb {
       background-image:url(../../img/buttons/share-on-facebook.png);
       width: 26.87em;
	   height: 5.9em;
       margin-top: 0.875em;
     }
    .like {
       background-image:url(../../img/buttons/like-btt-last-page.1.png);
       width: 10.65em;
       height: 4.49em;
       margin-top: 1.500em;
    }
  }
  .endLink {
  	color: #3bb9ff;
  	font-size: 1.563em;
  	text-decoration: underline;
    margin-left: 3.750em;
    float: left; 
  }
}

/*Background to sliders*/
/***********************/
.index{

	@include background(url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwLjIxIiBzdG9wLWNvbG9yPSIjZDBlMmY2Ii8+PHN0b3Agb2Zmc2V0PSIwLjgyIiBzdG9wLWNvbG9yPSIjYjRkMGVmIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSIwJSIgeT0iMCUiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9IiNiNGQwZWYiIC8+PHJlY3QgeD0iMCUiIHk9Ii0xMy4wODQxJSIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTI2LjE2ODIlIiBmaWxsPSJ1cmwoI2cpIiAvPjwvc3ZnPg==),
		radial-gradient(farthest-side circle at center center, #d0e2f6 21%, #b4d0ef 82%));	
}

	.slides{
		.slide_1{
			@include background(url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwLjM4MjQ5MyIgc3RvcC1jb2xvcj0iIzI5Njg3NSIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzE1NDk1NyIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iMCUiIHk9IjAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSIjMTU0OTU3IiAvPjxyZWN0IHg9Ii0zLjU5NTglIiB5PSItMTcuNjIwOSUiIHdpZHRoPSIxMDcuMTkxNiUiIGhlaWdodD0iMTM1LjI0MTclIiBmaWxsPSJ1cmwoI2cpIiAvPjwvc3ZnPg==),
				radial-gradient(farthest-side circle at center center, #296875 41%, #154957 107.1916%));
			color: white;			
		}

		.slide_2{
			@include background(url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwLjQyODAzOSIgc3RvcC1jb2xvcj0iIzQ2NDY0NiIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzJiMmIyYiIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iMCUiIHk9IjAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSIjMmIyYjJiIiAvPjxyZWN0IHg9Ii0yNy4wOTU4JSIgeT0iLTQ3LjI3MDQlIiB3aWR0aD0iMTU0LjE5MTYlIiBoZWlnaHQ9IjE5NC41NDA4JSIgZmlsbD0idXJsKCNnKSIgLz48L3N2Zz4=),
				radial-gradient(farthest-side circle at center center, #464646 66%, #2b2b2b 154.1916%));
			color: white;
		}

		.slide_3{
			@include background(url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwLjQyODAzOSIgc3RvcC1jb2xvcj0iI2VhZTllOSIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iI2U0ZTJlMiIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iMCUiIHk9IjAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSIjZTRlMmUyIiAvPjxyZWN0IHg9Ii0yNy4wOTU4JSIgeT0iLTQ3LjI3MDQlIiB3aWR0aD0iMTU0LjE5MTYlIiBoZWlnaHQ9IjE5NC41NDA4JSIgZmlsbD0idXJsKCNnKSIgLz48L3N2Zz4=),
				radial-gradient(farthest-side circle at center center, #eae9e9 66%, #e4e2e2 154.1916%));
		}

		&.ng-enter, &.ng-leave {
			-webkit-transition:0.4s ease-in all;
			-moz-transition:0.4s ease-in all;
			-o-transition:0.4s ease-in all;
			transition:0.4s ease-in all;

			position:absolute;
			top:0;
			left:0;
			right:0;
			height:100%;
		}
		&.forward{
			&.ng-enter {
				z-index:100;
				top:100%; 
			}

			&.ng-enter.ng-enter-active {
				top:0;		  
			}

			&.ng-leave {
				z-index:101;
				top:0;  
			}

			&.ng-leave.ng-leave-active {
				top:-100%;
			}
		}
		&.back{
			&.ng-enter {
				z-index:101;
				top:-100%; 
			}

			&.ng-enter.ng-enter-active {  
				top:0;
			}

			&.ng-leave {
				z-index:100;
				top:0;
			}

			&.ng-leave.ng-leave-active {
				top:100%;  
			}		
		}

	}


.scale{
	margin-top: 20px;
	width: 255px;
	margin-left: -63px;
	
	.scale-digit{
		width: 20%;
		margin: 0 auto;
		font-weight: 700;
		float: left;
	}
}




		
